<div class="alert alert-info">
    <ul class="list-unstyled">
        <li><p>
            {{ 'By activating this option, we may process your personal data in order to provide our support services. Information about this data processing can be found in our'|trans({}, 'Modules.Psassistant.Admin') }}<a target="_blank" href="{{ cgu_href }}">
            {{ 'PrestaShop Account terms and conditions'|trans({}, 'Modules.Psassistant.Admin') }}</a>
            {{ '(see data processing agreement in the appendix).'|trans({}, 'Modules.Psassistant.Admin') }}
            <a target="_blank" href="{{ privacy_href }}">{{ 'Learn more about your data and your rights.'|trans({}, 'Modules.Psassistant.Admin') }}</a>
        </p></li>
    </ul>
</div>
